.search {
  display: flex;
  align-items: center;
  background-color: inherit;
  gap: 1.4rem;
  padding: 1.5rem 1.8rem;
  transition: .2s;
  cursor: pointer;
  & input {
    border: none;
    font-size: 1.4rem;
    color: var(--black);
    background-color: inherit;
    &::placeholder {
      color: var(--secondary);
    }
    &:focus-visible {
      outline: none;
    }
  }
  &:hover {
    background-color: var(--white);
    box-shadow: 0 .3rem 1.6rem 0 rgba(216, 220, 237, 0.52);
    border-radius: .4rem;
  }
  &:focus {
    background-color: var(--white);
    box-shadow: 0 .3rem 1.6rem 0 rgba(216, 220, 237, 0.52);
    border-radius: .4rem;
  }
  &.active {
    background-color: var(--white);
    box-shadow: 0 .3rem 1.6rem 0 rgba(216, 220, 237, 0.52);
    border-radius: .4rem;
  }
}
