.nav-item {
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 20rem;
  font-size: 1.4rem;
  color: var(--primary);
  background-color: var(--actionButtonBackground);
  border: .1rem solid #E6E4EC;
  transition: .2s;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
  }
  &.active {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
  }
}